/build
111.js
*.seed
*.out
*.pid
*.bk
*.bkbk
redis_buffer.json
./redis_buffer.json
npm-debug.log
/retrainedClassifiers
/.project
/node_modules_1
/node_modules
/truthteller
/negex
/domains
/ppdb
/turboparser
utils/learning_curves/
/trainedClassifiers/*
