*.seed
*.out
*.pid
*.bk

npm-debug.log
/retrainedClassifiers
/.project
/node_modules_1
/node_modules
/truthteller
/negex
/domains
/ppdb
/turboparser

/trainedClassifiers/tempfiles/SvmPerf.learn
/trainedClassifiers/tempfiles/SvmPerf.model
/utils/featureexp_input
/utils/featureexp_output
/utils/gnuplot
