doctype 5
html
	head
		title Translations Table 
		link(rel='stylesheet', href='/main.css')
	body#translations
		div #{lines.length} lines
		if query.dataset
			pre
				for line in lines
					if (!query.source||query.source===line.source)
						| #{", "+JSON.stringify({input: line.text, output: line.translations})+"\n"} 
		else
			pre
				| #{JSON.stringify(lines,null,"\t")+"\n"}
