doctype 5
html
	head
		title Translations Table 
		link(rel='stylesheet', href='/main.css')
	body#translations
		div #{lines.length} lines
		if locals.dataset
			pre
				for line in lines
					| #{", "+JSON.stringify({input: line.text, output: line.translations})+"\n"} 
		else
			pre
				| #{JSON.stringify(lines,null,"\t")+"\n"}
